<%- include('baseTop'); %>
    <h1>WELCOME TO STEM</h1>

    <p><pre>
        Welcome for joining STEM
        here you will associate with great people
        you will acquire new tech skills
        we also have groups of content management,networking and data entry
    </pre>
    </p>
    
    <div>

<!-- <a href="/views/regform"class="btn btn-secondary">REGISTER</a> -->
        
    </div>
    <%- include('baseBottom'); %>