<%- include('baseTop'); %>
<div>
 
  <label for="email">Email</label><br />
  <input
    type="text"
    class="email"
    place-holder="e.g egerton@gmail.com"
    required
  /><br />

  <label for="password">Password</label><br />
  <input
    type="pwd"
    class="pwd"
    place-holder="not less than 6 characters"
    required
  /><br />
  <input type="submit" value="Login">


</div>

<%- include('baseBottom'); %>