<%- include('baseTop'); %>
<div>
  <label for="name">Full Name</label><br />
  <input type="text" class="" place-holder="" required />
  <br />
  <label for="phone">Phone-Number</label><br />
  <input type="number" class="no." place-holder="+254" required /><br />

  <label for="email">Email</label><br />
  <input
    type="text"
    class="email"
    place-holder="e.g egerton@gmail.com"
    required
  /><br />

  <label for="password">Password</label><br />
  <input
    type="pwd"
    class="pwd"
    place-holder="not less than 6 characters"
    required
  /><br />

  <label for="text">TSC NO </label> <br />
  <input type="text" class="" place-holder="" required /><br />
  <input type="submit" value="Register">
</div>

<%- include('baseBottom'); %>
